.input {
  padding: 14px;
  border: 2px solid rgba(228, 228, 231, 1);
  border-radius: 8px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(113, 113, 122, 1);
}

  .inputWrapper {
    position: relative;
  }

  .inputWrapperWithIcon .input {
    padding-left: 40px;
  }

  .inputIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

.input::placeholder {
  color: rgba(113, 113, 122, 0.5);
}

.input[type='checkbox'] {
  accent-color: rgba(24, 86, 158, 1);
  width: 24px;
  height: 24px;
}
  .labelWithIcon {
    margin-bottom: 5px;
  }


.inputError {
  border-color: rgba(243, 18, 96, 1);
}

.errorMessage {
  color: rgba(243, 18, 96, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}